.loading-parent {
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
}

.loading {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 5px solid darkgray;
    border-color: gray darkgray gray darkgray;
    animation: rotation 1s infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}