.profileItem{
    display: flex;
    border:2px solid black;
    margin:20px 0px;
    padding:10px 5px;
    border-radius: 10px;
    background-color: lightblue;
    align-items: center;
    width:90%;
}
.profileImg{
    margin:0px 15px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.profileName{
    font-size: 1.3rem;
}
.profileId{
    color:darkblue;
    text-decoration: none;
    margin:5px 0;
    display: block;
}